.techs__item {
  width: 90px;
  height: 60px;
  background: #E8E8E8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .techs__item {
    width: 84px;
    height: 57px;
  }
}
