.profile__label {
  display: flex;
  white-space: nowrap;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 16px;
  margin-bottom: 17px;
  font: normal 500 11px/13px Inter, Arial, sans-serif;
  color: #000000;
}
.profile__label:last-of-type {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
