.portfolio__title {
  margin: 0;
  color: #A0A0A0;
  font: normal 400 18px/20px Inter, Arial, sans-serif;
}

@media screen and (max-width: 320px) {
  .portfolio__title {
    font: normal 400 14px/20px Inter, Arial, sans-serif;
  }
}
