.login__input {
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  background: #F9F9F9;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  font: normal 400 13px/16px Inter, Arial, sans-serif;
  color: #000000;
}

.login__input:focus {
  font-weight: 500;
}
