.header__button-menu {
  display: none;
  width: 44px;
  height: 44px;
  padding: 11px 8px 10px 8px;
  border: 0;
  background: url("../../../images/button-menu.svg") #FFFFFF center center no-repeat;
}

@media screen and (max-width: 768px) {
  .header__button-menu {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .header__button-menu {
    width: 40px;
    height: 43px;
    background-size: 22px 21px;
  }
}
