.error__link {
  display: block;
  font: normal 400 14px/17px Inter, Arial, sans-serif;
  color: #000000;
  margin: 184px auto 0;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .error__link {
    margin: 284px 0 0;
    font: normal 400 12px/15px Inter, Arial, sans-serif;
  }
}
