.about-me__content {
  margin-top: 66px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 48px;
}

@media screen and (max-width: 768px) {
  .about-me__content {
    gap: 49px;
  }
}

@media screen and (max-width: 767px) {
  .about-me__content {
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;

  }
}
