.techs__items {
  margin: 100px auto 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 690px;
  /*justify-content: space-between;*/
}

@media screen and (max-width: 768px) {
  .techs__items {
    margin-top: 83px;
    max-width: 648px;
  }
}

@media screen and (max-width: 320px) {
  .techs__items {
    margin-top: 50px;
    max-width: 178px;
  }
}
