.about-me__profile-link {
  margin: 0 20px 0 0;
  font: normal 500 14px/17px Inter, Arial, sans-serif;
  color: #000000;
}

@media screen and (max-width: 320px) {
  .about-me__profile-link {
    margin-right: 26px;
  }
}
